.textField1{
-fx-border-style: solid;
-fx-border-radius:20px;
-fx-border-color: #5F9EA0;
-fx-background-color: rgba(0,0,0,0.0);
}
.textField2{
-fx-border-style: hidden hidden solid hidden;
-fx-background-color: rgba(0,0,0,0.0);
-fx-border-color: #000000;
}
.textField2:focused{
    -fx-border-color: #5c8ef2;
    -fx-border-width: 2px;
}
.textField2-error{
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-border-color: #e40c0c;
}
.button1{
-fx-background-color: #B0C4DE;

}
.button2{
-fx-background-color: rgba(0,0,0,0.0);
}


.button1:hover{
-fx-background-color: #5c8ef2;
}
.button2:hover{
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-font-family: "Arial";
}
